@import './base.scss';
// @import "./reset.scss";

#app {
  width: 100vw;
  height: 100vh;
  color: azure;
  font-size: 20px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
html.dark {
  background: var(--dark-bg);
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (min-width: 1024px) {
}
